# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={} #empty dictionary
type(data)

dict

In [2]:
data1=dict() #empty dictionary
type(data1)

dict

In [3]:
data={'Alabama':'Montgomery','Arizona':'Phoenix','Georgia':'Atlanta','Kentucky':'Frankfort','Ohio':'Salem'} #key:value

In [4]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [5]:
type(data)

dict

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [25]:
data={'Alabama':'Montgomery','Arizona':'Phoenix','Georgia':'Atlanta','Kentucky':'Frankfort','Ohio':'Salem'} #key:value

In [6]:
data['Kentucky']

'Frankfort'

In [7]:
data['Alabama']

'Montgomery'

### Update elements of a dictionary and add new elements

In [9]:
day={1:'Monday',2:'Tuesday',4:['Thursday','Friday'],5:('Saturday','Sunday')}

In [10]:
day[1]

'Monday'

In [11]:
day[4][1] #[key][index]

'Friday'

In [12]:
day[5][0]

'Saturday'

In [14]:
day[5][1]='Holiday' #tuple update (even though the tuple is in a dictionary) is not possible

TypeError: 'tuple' object does not support item assignment

#### value can change, dictionary key is immutable

In [15]:
#update Thursday to Holiday
day[4][0]='Holiday'

In [ ]:
#update Monday to Holiday
day[1]='Holiday'

In [16]:
data['Louisiana']

KeyError: 'Louisiana'

### `get` and `update` methods

In [18]:
data.get('Arizona') #.get looking for the key to return the value

'Phoenix'

In [20]:
data.get('Louisiana') #not generating an error and that is how it is different from other arrays.

In [26]:
#update old value to new and add new key value pair
print(data)
data.update({'Kentucky':'Louisville','Louisiana':'Baton Rouge'})

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [27]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [28]:
data.update({'alabama':'Montgomery'}) #only way to update key (by adding new key)
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

### Delete dictionary items using `del` and `pop`

In [30]:
data
del data['Alabama']

In [31]:
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [32]:
del data['Ohio']
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [33]:
deleted_state=data.pop('Arizona')
print("Deleted state",deleted_state) #pop can do this but del can't

Deleted state Phoenix

In [34]:
data

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [35]:
# Delete montgomery
deleted_capital=data.pop('alabama')
print(deleted_capital)
data

Montgomery

{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [36]:
del data

In [37]:
data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [38]:
data={'Alabama':'Montgomery','Arizona':'Phoenix','Georgia':'Atlanta','Kentucky':'Frankfort','Ohio':'Salem'} #key:value

In [39]:
len(data) # amt of element/value in a dictionary

5

In [40]:
#extract keys
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [41]:
#Extract value
print(data.values())

dict_values(['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Salem'])

### Loop through a dictionary

In [43]:
#loop through the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [44]:
#looping through the values
for j in data.values():
    print("The capitol is:",j)

The capitol is: Montgomery
The capitol is: Phoenix
The capitol is: Atlanta
The capitol is: Frankfort
The capitol is: Salem

In [45]:
#Looping through the dictionary item
for k in data.items():
    print(k)

('Alabama', 'Montgomery')
('Arizona', 'Phoenix')
('Georgia', 'Atlanta')
('Kentucky', 'Frankfort')
('Ohio', 'Salem')

In [46]:
#looping through the dictionary items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Phoenix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [49]:
#tuple unpacking
for i,j in data.items():
    print("State: ",i,"Capital: ",j)
    print(type(i),type(j))

State:  Alabama Capital:  Montgomery
<class 'str'> <class 'str'>
State:  Arizona Capital:  Phoenix
<class 'str'> <class 'str'>
State:  Georgia Capital:  Atlanta
<class 'str'> <class 'str'>
State:  Kentucky Capital:  Frankfort
<class 'str'> <class 'str'>
State:  Ohio Capital:  Salem
<class 'str'> <class 'str'>

### Convert dictionary to lists using `list()` function

In [50]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [52]:
list(data.values())

['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Salem']

In [53]:
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [2]:
fl = {
    'Jen':['python','ruby'],
    'Sara':['C'],
    'Edward':['ruby','Java'],
    'Fil':['Python','Haskell']
}

In [5]:
for name, languages in fl.items():
    print("\n"+name.title()+"\'s favorite languages are:")
    #print(languages)
    for l in languages :
        print("\t\t\t"+l.title())

Jen's favorite languages are:
			Python
			Ruby

Sara's favorite languages are:
			C

Edward's favorite languages are:
			Ruby
			Java

Fil's favorite languages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [6]:
user={
    'einstein':{'first':'albert',
               'last':'einstein',
               'location':'princeton',
               },
    'mcurie':{'first':'marie',
             'last':'curie',
             'location':'Paris'
             }
}

In [7]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'Paris'}}

In [16]:
for name,info in user.items():
    print("\nusername:",name)
    fn=info['first']+" "+info['last']
    print("The full name is",fn.title())
    location=info['location']
    print("The location of their remains:",location.title())

username: einstein
The full name is Albert Einstein
The location of their remains: Princeton

username: mcurie
The full name is Marie Curie
The location of their remains: Paris